<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <form method = "POST" action="/login">
        <select>
            <option value="staging" default>staging</option>
            <option value="test">test</option>
            <option value="demo">demo</option>
        </select><br>
        <input type="text" name="userName" placeholder="login"><br>
        <input type="password" name="passWord" placeholder="Password"><br>
        <input type="text" name="route" placeholder="route"><br>
        <input type="submit" value="Submit" name="ok">
    </form>
</body>
</html>